<div class="container-fluid">


  <div class="container">
    <div class="center-div">
      <form role="form">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="informe o nome da cidade" />
          <a href="#"><span class="fa fas fa-1x fa-search errspan"></span></a>
        </div>
      </form>
    </div>
    <h1 class="text-center">Paraíba</h1>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-8 plot-col">
      <h6 class="text-center">desertificação nas cidades da paraíba</h6>
      <img class="img-log" src="../../assets/img/chart.png" alt="chart">

      <nav class="nav-estados">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-imdd-tab" data-toggle="tab" href="#nav-imdd" role="tab"
            aria-controls="nav-imdd" aria-selected="true">Geral</a>
          <a class="nav-item nav-link" id="nav-imdf-tab" data-toggle="tab" href="#nav-imdf" role="tab"
            aria-controls="nav-imdf" aria-selected="false">Forças Motrizes</a>
          <a class="nav-item nav-link" id="nav-imde-tab" data-toggle="tab" href="#nav-imde" role="tab"
            aria-controls="nav-imde" aria-selected="false">Estados</a>
          <a class="nav-item nav-link" id="nav-imdr-tab" data-toggle="tab" href="#nav-imdr" role="tab"
            aria-controls="nav-imdr" aria-selected="false">Respostas</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-imdd" role="tabpanel" aria-labelledby="nav-imdd-tab">
          <h6 class="text-center text-imdd">indice multicriterial de desertificação do semiárido brasileiro</h6>
          <div class="panel panel-default">
              <p class="p-text">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit eligendi veniam odit dolorum magnam adipisci?
                  Provident accusantium suscipit quidem a assumenda maxime incidunt saepe fugiat, dolore esse velit ducimus
                  in.
              </p>
          </div>
          <img src="../../assets/img/imdd.png" class="imdd">
        </div>
        <div class="tab-pane fade" id="nav-imdf" role="tabpanel" aria-labelledby="nav-imdf-tab">
          <h6 class="text-center text-imdd large-text">indice multicriterial de desertificação das forças motrizes</h6>
          <div class="panel panel-default">
              <p class="p-text">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit eligendi veniam odit dolorum magnam adipisci?
                  Provident accusantium suscipit quidem a assumenda maxime incidunt saepe fugiat, dolore esse velit ducimus
                  in.
              </p>
          </div>
          <img src="../../assets/img/imdf.png" class="imdd">
        </div>
        <div class="tab-pane fade" id="nav-imde" role="tabpanel" aria-labelledby="nav-imde-tab">
          <h6 class="text-center text-imdd large-text">indice multicriterial de desertificação dos estados</h6>
          <div class="panel panel-default">
              <p class="p-text">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit eligendi veniam odit dolorum magnam adipisci?
                  Provident accusantium suscipit quidem a assumenda maxime incidunt saepe fugiat, dolore esse velit ducimus
                  in.
              </p>
          </div>
          <img src="../../assets/img/imde.png" class="imdd">
        </div>
        <div class="tab-pane fade" id="nav-imdr" role="tabpanel" aria-labelledby="nav-imdr-tab">
          <h6 class="text-center text-imdd large-text">indice multicriterial de desertificação das respostas</h6>
          <div class="panel panel-default">
              <p class="p-text">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit eligendi veniam odit dolorum magnam adipisci?
                  Provident accusantium suscipit quidem a assumenda maxime incidunt saepe fugiat, dolore esse velit ducimus
                  in.
              </p>
          </div>
          <img src="../../assets/img/imdr.png" class="imdd">
        </div>
      </div>
    </div>
    <div class="col-md-3 table-col">
      <div class="fresh-table full-color-azure">
        <br>
        <h5 class="text-white text-center">Municípios menos suscetíveis a desertificação</h5>
        <table id="fresh-table" class="table text-center">
          <thead>
            <th data-field="id">#</th>
            <th data-field="name" data-sortable="true">Município</th>
            <th data-field="actions" data-formatter="operateFormatter" data-events="operateEvents">Opções</th>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Guarabira</td>
              <td><i class="fa fas fa-info-circle"></i></td>
            </tr>
            <tr>
              <td>2</td>
              <td>Campina Grande</td>
              <td><i class="fa fas fa-info-circle"></i></td>
            </tr>
            <tr>
              <td>3</td>
              <td>Coremas</td>
              <td><i class="fa fas fa-info-circle"></i></td>
            </tr>
            <tr>
              <td>4</td>
              <td>Monteiro</td>
              <td><i class="fa fas fa-info-circle"></i></td>
            </tr>
            <tr>
              <td>5</td>
              <td>Sumé</td>
              <td><i class="fa fas fa-info-circle"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="fresh-table full-color-orange">
        <br>
        <h5 class="text-white text-center">Municípios mais suscetíveis a desertificação</h5>
        <table id="fresh-table" class="table  text-center">
          <thead>
            <th data-field="id">#</th>
            <th data-field="name" data-sortable="true">Município</th>
            <th data-field="actions" data-formatter="operateFormatter" data-events="operateEvents">Opções</th>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Taperoá</td>
              <td><i class="fa fas fa-info-circle"></i></td>
            </tr>
            <tr>
              <td>2</td>
              <td>Desterro</td>
              <td><i class="fa fas fa-info-circle"></i></td>
            </tr>
            <tr>
              <td>3</td>
              <td>Patos</td>
              <td><i class="fa fas fa-info-circle"></i></td>
            </tr>
            <tr>
              <td>4</td>
              <td>Souza</td>
              <td><i class="fa fas fa-info-circle"></i></td>
            </tr>
            <tr>
              <td>5</td>
              <td>Cajazeiras</td>
              <td><i class="fa fas fa-info-circle"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
</div>