<!-- Just an image -->
<nav class="navbar navbar-light bg-dark fixed-top">
  <a class="navbar-brand" href="#">
    <img src="../../favicon.ico" width="30" height="30" alt="">
  </a>
</nav>

    <nav id="navigation-state" aria-label="breadcrumb" class="breadcrumb-project">
        <ol class="breadcrumb arr-right">
            <li class="breadcrumb-item"><a href="#">Início</a></li>
            <li class="breadcrumb-item"><a href="#">Semiárido</a></li>
            <li class="breadcrumb-item active" aria-current="page">Paraíba</li>
        </ol>
    </nav>